{% extends "layout.html" %}

{% block content %}

<div class="row">

    <!-- Crear item -->
    <div class="col-md-6">
        <div class="card mb-4 shadow-sm">
            <div class="card-body">
                <h5 class="card-title">Agregar item</h5>

                <form method="POST" action="/items">
                    <input 
                        name="name" 
                        class="form-control mb-3" 
                        placeholder="Nombre del item">

                    <button class="btn btn-primary w-100">
                        Agregar
                    </button>
                </form>
            </div>
        </div>
    </div>

    <!-- Subir archivo -->
    <div class="col-md-6">
        <div class="card mb-4 shadow-sm">
            <div class="card-body">
                <h5 class="card-title">Subir archivo</h5>

                <form 
                    method="POST" 
                    action="/upload" 
                    enctype="multipart/form-data">

                    <input 
                        type="file" 
                        name="file" 
                        class="form-control mb-3">

                    <button class="btn btn-secondary w-100">
                        Subir
                    </button>
                </form>
            </div>
        </div>
    </div>

</div>

<div class="text-center">
    <a href="/items" class="btn btn-outline-dark">
        Ver items
    </a>
</div>

{% endblock %}
